---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/users/self/checkins?beforeTimestamp=1617813407&limit=250&oauth_token=FOURSQUARE_API_TOKEN&v=20191201
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '320'
      X-Ratelimit-Path:
      - "/v2/users/X/checkins"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Reset:
      - '1622840990'
      X-Ratelimit-Remaining:
      - '494'
      X-Rate-Limit-Key:
      - 76.115.47.28
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: "{\"meta\":{\"code\":200,\"requestId\":\"60ba909b430b510f7e9d9220\"},\"notifications\":[{\"type\":\"notificationTray\",\"item\":{\"unreadCount\":0}}],\"response\":{\"checkins\":{\"count\":9773,\"items\":[{\"id\":\"606ddf9f3507ba5fc1d40658\",\"createdAt\":1617813407,\"type\":\"checkin\",\"entities\":[],\"shout\":\"\U0001F489\",\"timeZoneOffset\":-420,\"venue\":{\"id\":\"60136f7335aed62e7d818e5a\",\"name\":\"Covid-19
        Vaccination Center\",\"location\":{\"lat\":45.529565,\"lng\":-122.662628,\"labeledLatLngs\":[{\"label\":\"display\",\"lat\":45.529565,\"lng\":-122.662628}],\"postalCode\":\"97232\",\"cc\":\"US\",\"city\":\"Portland\",\"state\":\"OR\",\"country\":\"United
        States\",\"formattedAddress\":[\"Portland, OR 97232\"]},\"categories\":[{\"id\":\"4bf58dd8d48988d104941735\",\"name\":\"Medical
        Center\",\"pluralName\":\"Medical Centers\",\"shortName\":\"Medical\",\"icon\":{\"prefix\":\"https:\\/\\/ss3.4sqi.net\\/img\\/categories_v2\\/building\\/medical_\",\"suffix\":\".png\"},\"primary\":true}]},\"likes\":{\"count\":0,\"groups\":[]},\"like\":false,\"isMayor\":false,\"photos\":{\"count\":0,\"items\":[]},\"posts\":{\"count\":0,\"textCount\":0},\"comments\":{\"count\":0},\"source\":{\"name\":\"Swarm
        for iOS\",\"url\":\"https:\\/\\/www.swarmapp.com\"}},{\"id\":\"606ddf8abd7a97160b3d52db\",\"createdAt\":1617813386,\"type\":\"checkin\",\"timeZoneOffset\":-420,\"venue\":{\"id\":\"464d008cf964a520bb461fe3\",\"name\":\"Oregon
        Convention Center\",\"location\":{\"address\":\"777 NE M L King Blvd\",\"crossStreet\":\"btwn
        NE Holladay St & NE Lloyd Blvd\",\"lat\":45.52874933831439,\"lng\":-122.66310453414916,\"labeledLatLngs\":[{\"label\":\"display\",\"lat\":45.52874933831439,\"lng\":-122.66310453414916}],\"postalCode\":\"97232\",\"cc\":\"US\",\"city\":\"Portland\",\"state\":\"OR\",\"country\":\"United
        States\",\"formattedAddress\":[\"777 NE M L King Blvd (btwn NE Holladay St
        & NE Lloyd Blvd)\",\"Portland, OR 97232\"]},\"categories\":[{\"id\":\"4bf58dd8d48988d1ff931735\",\"name\":\"Convention
        Center\",\"pluralName\":\"Convention Centers\",\"shortName\":\"Convention
        Center\",\"icon\":{\"prefix\":\"https:\\/\\/ss3.4sqi.net\\/img\\/categories_v2\\/building\\/conventioncenter_\",\"suffix\":\".png\"},\"primary\":true}],\"venuePage\":{\"id\":\"59950001\"}},\"likes\":{\"count\":0,\"groups\":[]},\"like\":false,\"isMayor\":false,\"photos\":{\"count\":0,\"items\":[]},\"posts\":{\"count\":0,\"textCount\":0},\"comments\":{\"count\":0},\"source\":{\"name\":\"Swarm
        for iOS\",\"url\":\"https:\\/\\/www.swarmapp.com\"}},{\"id\":\"600c7df465a99a20cad1416d\",\"createdAt\":1611431412,\"type\":\"checkin\",\"timeZoneOffset\":-480,\"venue\":{\"id\":\"5c0306eb724750002c4c77ef\",\"name\":\"Matta\",\"location\":{\"address\":\"4311
        NE Prescott St\",\"crossStreet\":\"NE 42nd Ave\",\"lat\":45.55577074453261,\"lng\":-122.61910671889798,\"labeledLatLngs\":[{\"label\":\"display\",\"lat\":45.55577074453261,\"lng\":-122.61910671889798}],\"postalCode\":\"97218\",\"cc\":\"US\",\"neighborhood\":\"Cully\",\"city\":\"Portland\",\"state\":\"OR\",\"country\":\"United
        States\",\"formattedAddress\":[\"4311 NE Prescott St (NE 42nd Ave)\",\"Portland,
        OR 97218\"]},\"categories\":[{\"id\":\"4bf58dd8d48988d1cb941735\",\"name\":\"Food
        Truck\",\"pluralName\":\"Food Trucks\",\"shortName\":\"Food Truck\",\"icon\":{\"prefix\":\"https:\\/\\/ss3.4sqi.net\\/img\\/categories_v2\\/food\\/streetfood_\",\"suffix\":\".png\"},\"primary\":true}],\"delivery\":{\"id\":\"2659613\",\"url\":\"https:\\/\\/www.grubhub.com\\/restaurant\\/matta-4311-northeast-prescott-street-portland\\/2659613?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=2659613\",\"provider\":{\"name\":\"grubhub\",\"icon\":{\"prefix\":\"https:\\/\\/fastly.4sqi.net\\/img\\/general\\/cap\\/\",\"sizes\":[40,50],\"name\":\"\\/delivery_provider_grubhub_20180129.png\"}}}},\"likes\":{\"count\":0,\"groups\":[]},\"like\":false,\"sticker\":{\"id\":\"5963b5ddbab2f604cf80049d\",\"name\":\"Wheels\",\"image\":{\"prefix\":\"https:\\/\\/igx.4sqi.net\\/img\\/sticker\\/\",\"sizes\":[60,94,150,300],\"name\":\"\\/FoodTrucks_72e4dd.png\"},\"stickerType\":\"unlockable\",\"group\":{\"name\":\"collectible\",\"index\":240},\"pickerPosition\":{\"page\":10,\"index\":0},\"teaseText\":\"Check
        in at food trucks to unlock this sticker.\",\"unlockText\":\"Getting your
        grub on the go? Nothing beats street meat.\"},\"isMayor\":false,\"photos\":{\"count\":0,\"items\":[]},\"posts\":{\"count\":0,\"textCount\":0},\"comments\":{\"count\":0},\"source\":{\"name\":\"Swarm
        for iOS\",\"url\":\"https:\\/\\/www.swarmapp.com\"}},{\"id\":\"600c7c2bc09d8504f62b4c0b\",\"createdAt\":1611430955,\"type\":\"checkin\",\"timeZoneOffset\":-480,\"venue\":{\"id\":\"593de542d48ec17c5aa941aa\",\"name\":\"Proud
        Mary\",\"location\":{\"address\":\"2012[...]
