---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?colorRgbFormat=true
    body:
      encoding: UTF-8
      string: '{"backgroundColor":"#ffa633","foregroundColor":"#ffffff","id":"GOOGLE_CALENDAR_ID","selected":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1622838661860000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarListEntry",
         "etag": "\"1622838661860000\"",
         "id": "GOOGLE_CALENDAR_ID",
         "summary": "Swarm Check-ins",
         "description": "Where I've been and when. Synced via https://wingclip.app",
         "timeZone": "UTC",
         "colorId": "6",
         "backgroundColor": "#ffa633",
         "foregroundColor": "#ffffff",
         "selected": true,
         "accessRole": "owner",
         "defaultReminders": [],
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Fri, 04 Jun 2021 20:31:01 GMT
recorded_with: VCR 6.0.0
