---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/GOOGLE_CALENDAR_ID/events
    body:
      encoding: UTF-8
      string: "{\"description\":\"\U0001F489\",\"end\":{\"dateTime\":\"2021-06-04T23:10:30Z\"},\"guestsCanInviteOthers\":false,\"location\":\"Portland,
        OR 97232\",\"source\":{\"title\":\"WingClip\",\"url\":\"http://example.com/\"},\"start\":{\"dateTime\":\"2021-06-04T23:10:30Z\"},\"summary\":\"\U0001F3E5
        Covid-19 Vaccination Center\",\"transparency\":\"transparent\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3245696462210000"'
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"3245696462210000\\\"\",\n
        \"id\": \"GOOGLE_EVENT_ID\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cGxhM3NsZ2dqMXBhcmkzY3MwcXY2ZW8ya2cgY18yM3ZpcmNvbzFraWIzdHU4NzJndWJndTR2OEBn\",\n
        \"created\": \"2021-06-04T23:10:31.000Z\",\n \"updated\": \"2021-06-04T23:10:31.105Z\",\n
        \"summary\": \"\U0001F3E5 Covid-19 Vaccination Center\",\n \"description\":
        \"\U0001F489\",\n \"location\": \"Portland, OR 97232\",\n \"creator\": {\n
        \ \"email\": \"me@davidcel.is\"\n },\n \"organizer\": {\n  \"email\": \"GOOGLE_CALENDAR_ID\",\n
        \ \"displayName\": \"Swarm Check-ins\",\n  \"self\": true\n },\n \"start\":
        {\n  \"dateTime\": \"2021-06-04T23:10:30Z\"\n },\n \"end\": {\n  \"dateTime\":
        \"2021-06-04T23:10:30Z\"\n },\n \"transparency\": \"transparent\",\n \"iCalUID\":
        \"GOOGLE_EVENT_ID@google.com\",\n \"sequence\": 0,\n \"guestsCanInviteOthers\":
        false,\n \"reminders\": {\n  \"useDefault\": true\n },\n \"source\": {\n  \"url\":
        \"http://example.com/\",\n  \"title\": \"WingClip\"\n },\n \"eventType\":
        \"default\"\n}\n"
  recorded_at: Fri, 04 Jun 2021 23:10:31 GMT
recorded_with: VCR 6.0.0
