---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=GOOGLE_AUTHORIZATION_CODE&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth%2Fgoogle%2Fcallback&client_id=GOOGLE_CLIENT_ID&client_secret=GOOGLE_CLIENT_SECRET&prompt=consent
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "GOOGLE_ACCESS_TOKEN",
          "expires_in": 3599,
          "refresh_token": "GOOGLE_REFRESH_TOKEN",
          "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email openid https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer",
          "id_token": "GOOGLE_ID_TOKEN"
        }
  recorded_at: Fri, 04 Jun 2021 20:30:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v2/tokeninfo
    body:
      encoding: UTF-8
      string: access_token=GOOGLE_ACCESS_TOKEN&id_token=GOOGLE_ID_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "issued_to": "GOOGLE_CLIENT_ID",
          "audience": "GOOGLE_CLIENT_ID",
          "user_id": "108275803283222920903",
          "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/calendar openid",
          "expires_in": 3599,
          "email": "me@davidcel.is",
          "verified_email": true,
          "access_type": "offline",
          "issuer": "accounts.google.com",
          "issued_at": 1622838659
        }
  recorded_at: Fri, 04 Jun 2021 20:30:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars
    body:
      encoding: UTF-8
      string: '{"description":"Where I''ve been and when. Synced via https://wingclip.app","summary":"Swarm
        Check-ins"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"JYGASPqUe32gZCe58ifZ_E7txaw"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendar",
         "etag": "\"JYGASPqUe32gZCe58ifZ_E7txaw\"",
         "id": "GOOGLE_CALENDAR_ID",
         "summary": "Swarm Check-ins",
         "description": "Where I've been and when. Synced via https://wingclip.app",
         "timeZone": "UTC",
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Fri, 04 Jun 2021 20:31:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?colorRgbFormat=true
    body:
      encoding: UTF-8
      string: '{"backgroundColor":"#ffa633","foregroundColor":"#ffffff","id":"GOOGLE_CALENDAR_ID","selected":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1622838661860000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarListEntry",
         "etag": "\"1622838661860000\"",
         "id": "GOOGLE_CALENDAR_ID",
         "summary": "Swarm Check-ins",
         "description": "Where I've been and when. Synced via https://wingclip.app",
         "timeZone": "UTC",
         "colorId": "6",
         "backgroundColor": "#ffa633",
         "foregroundColor": "#ffffff",
         "selected": true,
         "accessRole": "owner",
         "defaultReminders": [],
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Fri, 04 Jun 2021 20:31:01 GMT
recorded_with: VCR 6.0.0
