---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars
    body:
      encoding: UTF-8
      string: '{"description":"Where I''ve been and when. Synced via https://wingclip.app","summary":"Swarm
        Check-ins"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"JYGASPqUe32gZCe58ifZ_E7txaw"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendar",
         "etag": "\"JYGASPqUe32gZCe58ifZ_E7txaw\"",
         "id": "GOOGLE_CALENDAR_ID",
         "summary": "Swarm Check-ins",
         "description": "Where I've been and when. Synced via https://wingclip.app",
         "timeZone": "UTC",
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Fri, 04 Jun 2021 20:31:01 GMT
recorded_with: VCR 6.0.0
