---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=GOOGLE_AUTHORIZATION_CODE&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth%2Fgoogle%2Fcallback&client_id=GOOGLE_CLIENT_ID&client_secret=GOOGLE_CLIENT_SECRET&prompt=consent
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "GOOGLE_ACCESS_TOKEN",
          "expires_in": 3599,
          "refresh_token": "GOOGLE_REFRESH_TOKEN",
          "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email openid https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer",
          "id_token": "GOOGLE_ID_TOKEN"
        }
  recorded_at: Fri, 04 Jun 2021 20:30:59 GMT
recorded_with: VCR 6.0.0
